<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wffer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>80A1962B93A9E6183382FBEBE33558C969F6000B</string>
				<key>dateExpires</key>
				<string>18/06/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>65B2HJKT49.com.wfferApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>65B2HJKT49</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>65B2HJKT49.com.wfferApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>wffer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>af2bc56f-8f63-4bba-9a99-c8dafe44d036</string>
				<key>name</key>
				<string>WfferApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>65B2HJKT49</string>
				<key>name</key>
				<string>MediaOasis</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
